picolo.spl
picolo.pdf
picolo.aux
picolo.bbl
picolo.blg
picolo.log
picolo.out
picolo.synctex.gz
picolo.toc
appendix.aux

outline.pdf
outline.spl
outline.aux
outline.bbl
outline.blg
outline.log
outline.out
outline.synctex.gz

